# scope: javascript


# class method snippet
snippet meth
		/*-------------------------------------------------------------------------
		* ${1}
		*------------------------------------------------------------------------*/
		${2}(${3}) {

			${0}
		}
